.about--outer-container {
    display: flex;
    height: 100%;
    width: 80%;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    z-index: 1;
    cursor: pointer;

    header {
        margin: 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        font-size: 4rem;
        color: honeydew;
    }
    article {
        font-size: 1.5rem;
        color: honeydew;
    }
}

.about--moon {
    opacity: 0;
    height: 30px;
    width: 60px;
    border-radius: 50%;
    background-color: honeydew;
    position: absolute;
    top: auto;
    right: auto;
}

.about--moon-crescent {
    height: 0px;
    width: 0px;
    border-radius: 50%;
    position: relative;
    bottom: 15px;
    left: 100px;
    background-color: #30084b;
}